@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
      @apply underline
  }
  iframe {
      @apply aspect-video w-full h-72
  }
}

@font-face {
  font-family: 'Staatliches';
  src: url("/fonts/Staatliches-Regular.ttf");
}

@font-face {
  font-family: 'BebasNeue';
  src: url("/fonts/BebasNeue-Regular.ttf");
}